<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="../styles/Experimental.css">
    <title>v3</title>
  </head>

  <div id="navbar">
    <div class="btn" id="btn1">
      <p id="b1">Button 1</p>
    </div>
    <div class="btn" id="btn2">
      <p id="b2">Button 2</p>
    </div>
    <div class="btn" id="btn3">
      <p id="b3">Button 3</p>
    </div>
    <div class="btn" id="btn4">
      <p id="b4">Button 4</p>
    </div>
    <div class="btn" id="btn5">
      <p id="b5">Button 5</p>
    </div>
    <div class="btn" id="btn6">
      <p>Button 6</p>
    </div>
  </div>

<main class="wrapper">
  <section class="section parallax bg1">
  </section>
  <section class="smallSection static">
    placeholder text
  </section>
  <section id="smallSection2" class="smallSection static">
    placeholder text
  </section>
  <section id="smallSection3" class="smallSection static">
    placeholder text
  </section>
  <section id="smallSection4" class="smallSection static">
    placeholder text
  </section>
  <section class="section parallax bg2">
  </section>
  <section id="smallSection5" class="smallSection static">
    placeholder text
  </section>
  <section id="smallSection6" class="smallSection static">
    placeholder text
  </section>
  <section id="smallSection7" class="smallSection static">
    placeholder text
  </section>
  <section id="smallSection8" class="smallSection static">
    placeholder text
  </section>
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
  <!--<script src="../scripts/script.js"></script>-->
  <script src="../scripts/navbar-script.js"></script>
</html>
